# хост для браузера
MYSQL_HOST_BR='localhost:3306'

DRIVER='mysql'
MYSQL_USER='admin'
MYSQL_PASSWORD=111111
MYSQL_HOST='application-mysql'
MYSQL_PORT='3306'
MYSQL_DATABASE='app_db'
CHARSET='utf8'
COLLATION='utf8_unicode_ci'